.main-container {
    margin-left: 20px;
    margin-right: 20px;
}

.container1 {
    position: relative;
    width: 850px;
}

.container2 {
    position: relative;
    right: 31px;
    bottom: 20px;
}

.container3 {
    position: relative;
    bottom: 30px;
    width: 1000px;
    height: 65px;
}

.container4 {
    position: relative;
    left: 280px;
    bottom: 95px;
    width: 700px;
    height: 65px;
}

.jumbotron {
    padding-bottom: 32px;
    padding-top: 32px;
    height: 285px;
    background-color: rgb(121, 151, 68);
}

.h2 {
    font-size: 18px;
    background-color: darkolivegreen
}

.container5 {
    position: relative;
    bottom: 90px;
}

.container6 {
    position: relative;
    bottom: 280px;
    width: 900px;
}

#one {
    position: relative;
    top: 20px;
    left: 10px;
    background-color: darkolivegreen
}

#two {
    position: relative;
    bottom: 45px;
    left: 85px;
    background-color: darkolivegreen
}

#three {
    position: relative;
    bottom: 130px;
    left: 157px;
    background-color: darkolivegreen
}

#four {
    position: relative;
    bottom: 210px;
    left: 230px;
    background-color: darkolivegreen
}
body {
    background-color: darkolivegreen
}


